# Project exclude paths
/node_modules/
/.parcel-cache/1ccc7330433bd962
/.parcel-cache/3df3aefa9dc4f828
/.parcel-cache/4edcd78cd502287c
/.parcel-cache/6f76e9616a623517.txt
/.parcel-cache/11d9a1e90712c07a
/.parcel-cache/97f82acc4274cf20
/.parcel-cache/402a7fc275e1e2d0.txt
/.parcel-cache/4448b38161ed83ec
/.parcel-cache/5849d56b7001a227
/.parcel-cache/ae3c784ff75076d8
/dist/contacts.72eb4091.js
/dist/contacts.72eb4091.js.map
/dist/contacts.f6c979e6.js
/dist/contacts.f6c979e6.js.map
/dist/contacts.ffe3d548.js
/dist/contacts.ffe3d548.js.map
/dist/contacts.html
/.parcel-cache/data.mdb
/.parcel-cache/e6eff68230c0b419
/dist/header.539be5eb.js
/dist/header.539be5eb.js.map
/dist/header.html
/dist/html.dad4b666.js
/dist/html.dad4b666.js.map
/dist/index.739bf03c.js
/dist/index.739bf03c.js.map
/dist/index.20665d7e.css
/dist/index.20665d7e.css.map
/dist/index.de5c0784.js
/dist/index.de5c0784.js.map
/dist/index.html
/.idea/jsLibraryMappings.xml
/.parcel-cache/lock.mdb
/.idea/modules.xml
/.idea/pfrt.iml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
